@using Models

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Mã Vòng Xoay</label>
                <input class="form-control" @bind-value="cbVoucher.CYCLE_CODE" />
                <label>Mã Sản Phẩm</label>
                <input class="form-control" @bind-value="cbVoucher.PRODUCT_CODE" />
                <label>Tên Sản Phẩm</label>
                <input class="form-control" @bind-value="cbVoucher.PRODUCT_NAME" />
                <label>Giá Trị</label>
                <input class="form-control" @bind-value="cbVoucher.UPDATE_DATE" />
                <label>Trạng Thái</label>
                <select class="form-control" @bind="cbVoucher.STATUS_CODE">

                    @if (cbVoucher.STATUS_CODE == "1")
                    {
                        <option value="value">Còn </option>
                        <option value="value">Hết</option>
                    }
                    else
                    {
                        <option value="value">Hết</option>
                        <option value="value">Còn</option>
                    }

                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Close</button>
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {
    private Voucher cbVoucher = new Voucher();

    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Open(Voucher data)
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
        cbVoucher = data;
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}

