body[b-plzoje6xc9] {
    font-family: Arial, sans-serif;
}

.sidebar[b-plzoje6xc9] {
    width: 250px;
    height: 100vh;
    background: #f8f9fa;
    padding: 20px;
    position: fixed;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

    .sidebar .nav-link[b-plzoje6xc9] {
        color: #333;
        font-size: 14px;
        padding: 10px;
        border-radius: 15px;
        white-space: nowrap
    }

        .sidebar .nav-link:hover[b-plzoje6xc9], .sidebar .nav-link.active[b-plzoje6xc9] {
            background: #e9ecef;
            color: #000;
        }

        .sidebar .nav-link i[b-plzoje6xc9] {
            margin-right: 10px;
        }
