body {
    background-color: #f8f9fa;
    margin-left: 300px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #343a40;
    color: white;
    padding-top: 20px;
}

    .sidebar a {
        color: white;
        text-decoration: none;
        padding: 10px;
        display: block;
    }

        .sidebar a:hover {
            background: #495057;
        }

.submenu {
    display: none;
    padding-left: 20px;
}
